{% extends 'workplace/layout.html' %}
{% block content %}
<div id="loading-wrap" class="loading-wrap">
    <div class="loading-icon"></div>
</div>

<div class="position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true"
        style="background-color:#FF9292; color:#ffffff;">
        <div class="toast-header">
            <img src="https://getbootstrap.kr/docs/5.0/assets/img/favicons/favicon-16x16.png" class="rounded me-2"
                alt="...">
            <strong class="me-auto">알림</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="msgDiv" class="toast-body"></div>
    </div>
</div>

<main class="form-signin">

    <form>
        {% csrf_token %}
        <img class="mb-4" src="https://getbootstrap.kr/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72"
            height="57">
        <h1 class="h3 mb-3 fw-normal">Create Cookies<br>For Workplace</h1>

        <div style="margin-bottom:15px;"><a href="https://github.com/WebJun/workplace.cono.kr"
                target="_blank">https://github.com/WebJun/workplace.cono.kr</a></div>

        <div class="form-floating">
            <input type="text" class="form-control" id="email" placeholder="hong@example.com" value="">
            <label for="email">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Password" value="">
            <label for="password">Password</label>
        </div>

        <button id="submit_btn" class="w-100 btn btn-lg btn-primary" type="button">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2024-2024</p>
    </form>

</main>


<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.bundle.min.js"
    integrity="sha512-Tkt/sYlAym9X81DPqqbCjU6bMl9HmsehhtxjnZu0K1TN9Ygu8h2D7jZbn59lbDNbbIG7DUukGkjKJbp/wDpKGg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/forge/1.3.1/forge.min.js"
    integrity="sha512-95iy0RZIbw3H/FgfAj2wnCQJlzFQ+eaSfUeV/l8WVyGHKSRMzm3M/O+85j9ba/HFphkijrCTDjcuDX0BL2lthA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
    integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const csrfTokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]');
    const csrfTokenValue = csrfTokenInput.value;

    class Api {
        constructor() {
            this.csrfToken = csrfTokenValue;
        }

        async membersLogin(email, password) {
            const encryptedEmail = encrypt(email);
            const encryptedPassword = encrypt(password);

            const data = {
                email: encryptedEmail,
                password: encryptedPassword,
            };

            return await this.postData('/api/members/login', data);
        }

        async postData(url, data) {
            const response = await axios.post(url, data, {
                headers: {
                    'X-CSRFToken': this.csrfToken,
                }
            });

            return response.data;
        }
    }

    const publicKeyPEM = `{{public_key}}`;
    const publicKey = forge.pki.publicKeyFromPem(publicKeyPEM);

    const encrypt = (plaintext) => {
        const dataBytes = forge.util.encodeUtf8(plaintext);

        const encrypted = publicKey.encrypt(dataBytes, 'RSA-OAEP', {
            md: forge.md.sha256.create(),
            mgf1: {
                md: forge.md.sha256.create()
            }
        });

        return forge.util.encode64(encrypted);
    };

    const displayToast = (message) => {
        const messageDiv = document.getElementById('msgDiv');
        messageDiv.innerHTML = message;

        const myToast = new bootstrap.Toast(document.getElementById('myToast'));
        myToast.show();
    };

    const preventIdInputMistake = () => {
        const emailInput = document.getElementById('email');
        const enteredEmail = emailInput.value;

        if (!enteredEmail.includes('@')) {
            emailInput.value = `${enteredEmail}@cowave.kr`;
        }
    };

    const api = new Api();

    const handleSubmit = async () => {
        const confirm_msg = '비밀번호가 서버에 암호화되어 저장됩니다. 계속하시겠습니까?';
        if (!confirm(confirm_msg)) {
            return;
        }

        document.getElementById('loading-wrap').style.display = 'flex';

        preventIdInputMistake();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        displayToast('10~20초 정도 소요됩니다.');

        try {
            const response = await api.membersLogin(email, password);

            if (!response.is_success) {
                throw new Error(response.message);
            }

            location.href = '/members_login_success';
        } catch (error) {
            document.getElementById('loading-wrap').style.display = 'none';
            document.getElementById('password').value = '';
            displayToast(error.message);
        }
    };

    const submitButton = document.getElementById('submit_btn');
    submitButton.addEventListener('click', handleSubmit);

    const handleEnterKey = async (event) => {
        if (event.keyCode === 13 && event.target.id === 'password') {
            await handleSubmit();
        }
    };

    document.addEventListener('keydown', handleEnterKey);
</script>
{% endblock %}